#!/usr/bin/env bash
# FOR USE BY install.sh

# For Ukku (Linux Kernel upgrader)
if [ -f /etc/apt/sources.list.d/teejee2008* ]; then
  echo_found  "Ukuu PPA"
else
  echo_adding "Ukuu PPA"
  add-apt-repository -y ppa:teejee2008/ppa
fi

